## tuples
- immutable
- ordered
- duplication allowed 

## sets 
- unordered
- immutable 
- duplication not allowed

## dictionary 
- key value pair 
- order 
- mutable 
- duplication not allowed

In [1]:
## tuple

tpl = ("hello",1,2,3,True)
print(tpl)
print(type(tpl))

# for single element tuple 

tpl2 = ("hy",)
print(type(tpl2))

('hello', 1, 2, 3, True)
<class 'tuple'>
<class 'tuple'>

In [2]:
## sets 

st = {"hello",1,2,True,"hello"}
print(st)

{1, 'hello', 2}

In [3]:
## Dictionary 

dt = {
    "name" : "upflairs" ,
    "year"  : 2023 ,
}
print(dt)
print(type(dt))
# indexing not allowed , access using keys 
print(dt["name"])
dt["name"] = "google" # during access value can be updated also ,
print(dt)

print(dt.get("name"))
print(dt.items())
print(dt.values())
print(dt.keys())
print(dt.pop("name"))
print(dt.popitem())
dt.update({"name": "amazon","address": "alwar"})
print(dt)

dt1 = dict(name="upflairs",year=2023)
dt1

{'name': 'upflairs', 'year': 2023}
<class 'dict'>
upflairs
{'name': 'google', 'year': 2023}
google
dict_items([('name', 'google'), ('year', 2023)])
dict_values(['google', 2023])
dict_keys(['name', 'year'])
google
('year', 2023)
{'name': 'amazon', 'address': 'alwar'}

{'name': 'upflairs', 'year': 2023}

In [4]:
 # conditional statements (if , elif , else)

a = 10;
b = 20;
if a<b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [5]:
## user input 
name = input("enter name") # it allow all in input 
name = int(input("enter age")) # allows only partcular datatype 
print(name)

print(type(name))

20
<class 'int'>

In [7]:
## write a program to check whethrt no. is even or odd 

number = int(input("enter number :"))
if number%2 == 0 :
    print(number,"number is even")
else:
    print(number,"number is odd")

20 number is even

In [8]:
a = 10
b = 20
if not (a>b or a<b):
    print("working as union")
else:
    print("working as intersection")

working as intersection

In [9]:
## wap to print whether number is prime or not 

num = int(input("enter number"))
if num%6==1 or num%6==5 :
    print("number is prime")
else:
    print("number is not prime")

number is prime

In [12]:
## for -- iterating over a sequence (string,list,tuple,set,dict)

lst = ["hello",22.34,22,1,True]

dt = {
    "name" == "priyanshu",
    "age" == 19,
    "dob" == 2006,
}
for i,j in dt.item() :
    print(i,":",j)
    for i in dt :
        print(i,":",j)

AttributeError: 'set' object has no attribute 'item'

In [ ]:
## looping
 # whole loop
i = 1
while i<=10:
    print(i)
    i+=1 # (updation ) :- infinite looping

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for loop 

for i in range (1,10,2):
    print(i)

1
3
5
7
9